
.aboutbody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutContainer{
    width: 60%;
    color: black;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;

}

.aboutbody img{
    overflow: hidden;
width: auto;
height: 100vh;

}

@media screen and (max-width: 700px) {
    .navbarAbout{
        position: absolute;
        top : 0
    }

    .aboutContainer{
        font-size: 1rem;
        padding: 10px;
    width: 80%;
    }
    .aboutbody{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    
    }
    
}