*{
    margin: 0;
    padding: 0;
}

/* movie Container*/
.movieDetail{
    width: 50vw;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 6px 4px 4px rgb(107, 99, 99);

    }

    .movieContainer{
        display: flex;
        flex-direction: row;
        width: 100vw;
    }

.movieContainer img{
width:18vw;
height: auto;
padding-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
}
.movieContainer h1{
    font-size: 2rem;
    color: white;
    box-shadow: 6px 4px 4px rgb(107, 99, 99);
background-color: black;
text-align: center;
border-top-left-radius : 5px;
border-top-right-radius : 5px
}

.movieDetailsContainer{
    display: flex;
    flex-direction: row;
}

.movieDetailsContainer p{
    margin-top: 10px;
    height: 50vh;
    font-size: 1.2rem;
}
.informations{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 10px;
    color: black;
}
.bottomDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}
@media screen and (max-width:700px) {
    .movieContainer{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .movieDetail{
       width: 90vw;
    }
    .movieDetailsContainer p{
    
        font-size: 1rem;
    }
    .movieDetailsContainer{
        display: flex;
        flex-direction: column;
        width: 90vw;
        padding-right: 10px;
       
    }
    .movieContainer img{
        width:40vw;

        }
        .movieContainer h1{
            width: 90vw;
            font-size: 1.4rem;
           
        }
        .bottomDetails{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 350px;
            
        }
        .bottomDetails h3{
            font-size: 1rem;
        }
}