*{
    margin: 0;
    padding: 0;
}

.moviesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 20px;
    width: 100vw;
justify-content: center;
    margin : 30px auto;


}
.moviesPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    margin: 5px;
    box-shadow: 6px 4px 4px black;
background-color: black;
color: white;}

.button:hover{
    border: black;
}
.buttonContainer{
    width: 100%;
}