@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;}

.navBar {
    width: 100vw;
    height: 50px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
list-style: none;
margin-bottom: 40px;

}

.navBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none; 
    width: 15vw;
    

}

.navBar ul li a{
    color: #eacda3;
    text-decoration: none;
    font-size: 1.4rem;
}
.navBar h1{
border-radius: 10px;
padding: 10px;
font-size: 2.3rem; 
width: auto;
color: #eacda3;
letter-spacing: 3px;
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
margin-top: 20px;

        }